<html>
<head>
    <title>Ecotone</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    <h1>Ecotone</h1>
    <div id="content">
        <%= yield %>
    </div>
</body>
</html>